html {
    background:#333;
    font-size:1.4em;
    color:#fff;
    width:100%;
}
main{width:100%;}
canvas {
    background:#000;
    -moz-box-shadow: 1px 2px 3px 1px #000;
    -webkit-box-shadow: 1px 2px 3px 1px #000;
    box-shadow: 1px 2px 3px 1px #000;
    position:relative;
    left:50%;
}
h3{text-align:center}
ol{list-style:none;padding:0;text-align:center}
main li{margin-top:10px;}