body {
    background: #ece;
    margin: 0;
  }

  .wrap {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .gridart {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(30, 34px);
    grid-template-rows: auto;
  }

  .cell {
    padding: 6px;
  }

  .toggle {
    --size: 0.75rem;
    --width: calc(0.75rem * 2);
    display: inline-grid;
    align-items: center;
    width: var(--width);
    height: var(--size);
    cursor: pointer;
    transform: rotate(0deg);
  }

  .toggle::before {
    content: "";
    grid-area: 1 / -1;
    width: var(--width);
    height: var(--size);
    transition: all 250ms ease;
    border-radius: var(--width);
    background-color: #000;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
  }

  .toggle::after {
    content: "";
    grid-area: 1 / -1;
    width: calc(var(--size) * 0.8);
    height: calc(var(--size) * 0.8);
    transform: translateX(10%);
    transform-origin: center center;
    transition: all 250ms ease;
    border-radius: 100%;
    background: #fff;
  }

  .toggle:checked::before {
    background-color: #fff;
  }

  .toggle:checked::after {
    transform: translateX(calc(var(--width) - var(--size) * 0.8 - 10%));
    background: #000;
  }
